{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/contact.css' %}">
{% endblock %}


{% block content %}

<h2 class="m-3 text-center">Contact</h2>

{% block form %}
<!-- Success message when form is successfully sent to the database -->
{% if submitted %}
<div class="container-fluid d-flex justify-content-center mx-auto min-vh-100">
  <div class="row">
    <div class="col d-flex align-items-center">
      <div class="alert alert-success">Your message was successfully sent. Thanks again for getting in touch!
      </div>
      <span class="btn btn-dark text-light text-decoration-none"><a href="{% url 'home' %}">Return to Home</a></span>
    </div>
  </div>
</div>



{% else %}

<p class="m-3 text-center">Get a question? Get in touch!</p>

<form class="requestForm" method="post">
  {% csrf_token %}
  <div class="formRow">
    <label for="fname">Full Name</label>
    <input type="text" id="fname" name="fname" required>
  </div>
  <div class="formRow">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>

  <div class="Query mb-2">
    <label for="query">Query Type</label>
    <select name="query" id="query" class="border-2 border-dark" required>
      <option value="0">General</option>
      <option value="1">Trackdays/Experiences</option>
      <option value="2">Packages</option>
      <option value="3">Other</option>
    </select>
  </div>

  <div class="formRow mb-2">
    <textarea required class="border-2 border-dark p-2 contactTextarea" name="textarea" id="textarea" cols="30"
      rows="10" style="resize: none"></textarea>
  </div>

  <div class="w-100 d-flex justify-content-end sendDiv">
    <button type="submit" class="sendBtn">Send</button>
  </div>
</form>


{% endif %}

{% endblock form %}
{% endblock %}