{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/main-nav.html' %}

<!-- Custom Error 404 Page -->
<div class="container d-flex justify-content-center mx-auto min-vh-100">
    <div class="row text-center flex-column">
        <div class="col mt-4">
            <h2 class="m-3">Error! Page Not Found!</h2>
        </div>
        <div class="col">
            <!-- Click here to return to home page -->
            <p>Click here to return Home:</p><a class="btn btn-primary" href="{% url 'home' %}">Home</a>
        </div>

    </div>
</div>


{% endblock %}