{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/management.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
{% if user.is_superuser %}
<h2 class="m-3 text-center">Management:</h2>
<h3 class="text-center"> Add a Trackday</h3>

<form method="POST" action="#" class="requestForm mb-2" enctype="multipart/form-data">
{% csrf_token %}
    <div class="formRow">
        <label for="td-layout">Layout</label>
        <select id="td-layout" name="td-layout">
            <option value="0">GP</option>
            <option value="1">National</option>
            <option value="2">Indy</option>
          </select>
      </div>

      <div class="formRow">
        <label for="td-image">Layout Image</label>
        <input type="file" id="td-image" name="td-image" required>
      </div>

      <div class="formRow">
        <label for="td-date">Date</label>
        <input type="date" id="td-date" name="td-date" required>
      </div>

      <div class="formRow">
        <label for="db-limit">Db limit</label>
        <select id="db-limit" name="db-limit">
          <option value="0">98db</option>
          <option value="1">105bd</option>
        </select>
      </div>

      <div class="formRow">
        <label for="numbers">Availability</label>
        <input type="number" min="5" max="50" id="numbers" name="numbers" required>
      </div>

      <div class="formRow">
        <label for="base-price">Base Trackday Price</label>
        <input type="number" id="base-price" min="50" max="500" name="base-price" required>
      </div>

    <button class="btn btn-lg btn-primary mt-3" type="submit">Add Trackday</button>
</form>




{% endif %}
{% endblock %}


{% block postloadjs%}

<script type="text/javascript">
  // Script inspired by and modified from an example CHATGPT generated response to setting parameters for date validation on a form.
  const today = new Date();
  const input = document.getElementById("td-date");

  input.addEventListener("change", function () {
    const dateEntered = new Date(input.value);

    if (dateEntered < today) {
      alert("Sorry, the date requested can be no sooner than today");
      input.value = "";
    }
  });
</script>


{% endblock %}