{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/main-nav.html' %}
<h2 class="text-center mt-4">Policies:</h2>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10">

            <h3 class="mt-3">Consent:</h3>
            <p> By using the Django Raceway website, you agree to the following policies listed below. If you have any questions regarding any of our policies, 
                please feel free to get in touch via the contact page.
            </p>
            
            <h3>Privacy:</h3>
            <p>Django Raceway will never share your private information, purchase history or billing details with any 3rd party businesses.
            That said, we do store the above on our database, and you may be required to enter personal details in order to create an account, purchase an item or send us a contact message.
            This information might include your name, email, phone number or address. 
            </p>

            <h3>Opt-outs:</h3>
            <p>If you wish to close your account, unsubscribe from our mailing list or cancel an order, this is all possible.
            In the case of cancellations of orders, see the below statement. Otherwise, you can close your account through the profile tab in the Nav Bar, or if you wish
            to unsubscribe from the mailing list, options will be clearly provided to you.
            </p>

            <h3>Cancellations Policy:</h3>
            <p>While we are still developing our business and website, we don't have a functional means of order cancellation on our site at the moment.
                However, should you wish to cancel an order, please send us a message through our contact page and we'll be happy to help.
            </p>
            <p> We have a minimum notice period for cancellation of tuition, experiences or trackdays of 72 hours. Please bare this in mind when you procceed with an order.
            </p>

            <h3>On-site Policies:</h3>
            <p>Is should go without saying, that <em>any form of motorsport is dangerous and caries risks.</em>
                By making a purchase form our site you agree to bare responsibility for the risks and to drive responsibly.
                Signs on site will make clear any risks and marked paths will be made available to you where you can walk and spectate safely away from the track.
                If on any of our track days, we deem you to be at risk of causing an accident or damage through dangerous driving, you will be cautioned and you may be asked to return to pits to stop driving.
                All track specific flags, protocols and more will be explained to all participants in a driver's briefing before the start of any event, and all participants should follow the instruction of all marshalls, instructors and
                event organisers in order to ensure a fun and safe day out for all.
            </p>

            <p>Some medical conditions may restrict you from taking part in on-track activities. If you are unsure about what these might be, please get in touch via the contact page.
            </p>
        </div>
    </div>
</div>


{% endblock %}