/* Contact form styling */
.requestForm {
    width: 80%;
    padding: 10px 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formRow {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formRow input {
    width: 100%;
    margin: 10px 0;
    border: 2px solid #000;
}

/* Submit button. styling */
.sendBtn{
    background-color: rgb(62, 137, 190);
    padding: 5px 30px;
    border: 2px solid #000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
}

/* Div for select input */
.Query{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for message after successful form submission*/
.contact-message {
    display: flex;
    width: calc(100% - 15px);
    height: 80%;
    padding: 4px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: lightgreen;
    border-radius: 50px;
    border: 1px solid lightgreen;
  }

/* Go Back Button Styling */
.go-back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 56px;
  width: 194px;
  background-color: #4CAF50;
  text-transform: uppercase;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  }

/* Remove text decoration */
  #text-deco-rmv {
    text-decoration: none;
    color: #000;
  }


#text-deco-rmv:hover,
#text-deco-rmv:focus,
.go-back-btn:hover,
.go-back-btn:focus {
    color: #4CAF50;
    background-color: #000;
    text-decoration: none;
    cursor: pointer;

}

/*Styling for the Mobile to Tablet Screens */
@media (min-width: 480px) and (max-width: 790px){

    .requestForm {
        width: 100%;
    }

    .formRow {
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    
    .formRow input {
        width: 60%;
    }

    .Query{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contactTextarea{
        width: 100%;
    }

    .sendDiv{
        margin-top: 10px;
        width: 80% !important;
    }
}

/* Styling for screens larger than 800px / Tablets */
@media (min-width: 800px) {

    .requestForm {
        width: 60%;
    }

    .formRow {
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin:  auto;
    }
    
    .formRow input {
        width: 70%;
    }

    .Query{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contactTextarea{
        width: 100%;
        margin: auto;
    }

    .sendDiv{
        margin-top: 10px;
        width: 80% !important;
    }
}