{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
{% if user.is_authenticated %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}

<div id="alert-container"></div>
<h2 class="text-center mt-4">Profile Details</h2>

<form class="profileForm" id="profileFormID">
    {% csrf_token %}
    <div class="functionality-btn">
      <button type="button"  id="editProfileBtn" class="submitBtn mt-3">Edit</button>
      <button type="button" id="saveProfileBtn" class="submitBtn mt-3">Save</button>

    </div>
    <div class="formRow">
      <label for="name">Name</label>
      <input type="text" id="name" value="{{user.username}}" name="name" required disabled>
    </div>
    
    <div class="formRow">
      <label for="email">Email Address</label>
      <input type="email" id="email" value="{{user.email}}" name="email" required disabled>
    </div>
  
    <div class="formRow">
      <label for="tel">Phone Number</label>
      <input type="tel" value="{{profile.default_phone_number}}" id="tel" name="tel" disabled>
    </div>
  
    <div class="formRow">
      <label for="Address1">Address 1</label>
      <input type="text" id="Address1" value="{{profile.default_street_address1}}" name="Address1" required disabled>
    </div>
  
    <div class="formRow">
      <label for="Address2">Address 2 (Optional)</label>
      <input type="text" id="Address2" value="{{profile.default_street_address2}}" name="Address2" disabled>
    </div>
    <div class="formRow">
      <label for="city">Town or City</label>
      <input type="text" id="city" value="{{profile.default_town_or_city}}" name="city" disabled>
    </div>
    <div class="formRow">
      <label for="County">County</label>
      <input type="text" id="County" value="{{profile.default_county}}" name="County" disabled>
    </div>
    <div class="formRow">
      <label for="Nationality">Country</label>
      <input type="text" id="Nationality" value="{{profile.default_nationality}}" name="Nationality" disabled>
    </div>
    <div class="formRow">
      <label for="PostalCode">PostalCode</label>
      <input type="text" id="PostalCode" value="{{profile.default_postcode}}" name="PostalCode" disabled>
    </div>
  
  </form>
  <script>
   
    init();
    $("#editProfileBtn").on('click', function(){
        enableProfileForm();
    });
    $("#saveProfileBtn").on('click', function(){
        disableProfileForm();
      });
  </script>

{% endif %}

{% endblock %}