{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/basket.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/main-nav.html' %}

<h2 class="text-center mt-4">Your Basket:</h2>

<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - x items</h5>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="/media/circuit-indy-layout.png" class="w-100" alt="" />

                </div>
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">

              </div>
              <!-- <div style="overflow-x:auto;" class="trackDayTable">
                  <table class="table table-hover">
                      <tr>
                          <th>Order</th>
                          <th>Order Number</th>
                          <th>Date</th>
                          <th>Price</th>
                          <tr>
                              <td>Trackday</td>
                              <td>Order Number</td>
                              <td>Date</td>
                              <td>Price</td>
                             
                          </tr>
                      </tr>
                  </table>
              </div> -->
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-end">
                <div class="d-flex mb-1" style="max-width: 300px">
                </div>

                <div>
                  <!-- If Trackday booking, both Edit & Delete
                  Otherwise, just delete button -->
                  <a class="btn btn-warning">Edit</a>
                  <div class="btn btn-danger">Delete</div>
                </div>

              </div>
            </div>

            <!-- Horizontal Rule-->
            <hr class="my-4"/>


            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="/media/circuit-gp-layout.png" class="w-100" />
                </div>

              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">

              </div>
              <!-- <div style="overflow-x:auto;" class="trackDayTable">
                  <table class="table table-hover">
                      <tr>
                          <th>Order</th>
                          <th>Order Number</th>
                          <th>Date</th>
                          <th>Price</th>
                          <tr>
                              <td>Trackday</td>
                              <td>Order Number</td>
                              <td>Date</td>
                              <td>Price</td>
                             
                          </tr>
                      </tr>
                  </table>
              </div> -->

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-end">
                <div class="d-flex mb-1" style="max-width: 300px">
                </div>

                <div>
                  <!-- If Trackday booking, both Edit & Delete
                  Otherwise, just delete button -->
                  <a class="btn btn-warning">Edit</a>
                  <div class="btn btn-danger">Delete</div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <!-- <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
            </div>
          </div> -->
        <div class="card mb-4">
          <div class="card-body">
            Continue Browsing:
            <a class="" href="{% url 'home' %}">
              <button class="btn btn-primary">Home</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products
                <span>£X00</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>£X00</strong></span>
              </li>
            </ul>
            <div class="card-footer border-success d-flex">
              <div class="p-2 flex-grow-1 bd-highlight d-flex align-items-center">Price: £ X00</div>
              <div class="p-2 bd-highlight d-flex align-items-center">
                <a href="{% url 'home' %}">
                  <button class="btn btn-success">Go to Checkout</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}