{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/basket.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/main-nav.html' %}

<h2 class="text-center mt-4">Your Basket:</h2>

<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <!-- Cart Counter -->
            <h5 class="mb-0">Cart - {% if product_count == 1 %} {{ product_count }} item {% else %} {{ product_count }} items {% endif %}</h5>
          </div>
          <div class="card-body">

            {% if basket_contents %}

            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
              </div>
              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">


              </div>
              <div style="overflow-x:auto;" class="trackDayTable">
                  <table class="table table-hover">
                    <!-- Order Table -->
                      <tr>
                          <th class="w-25"></th>
                          <th>Order</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th></th>
                          {% for item in basket_contents %}
                          <!-- Table data for experiences -->
                            {% if item.experience %}
                          <tr> 
                            <td class="basket-img"> <img src="{{ item.experience.image.url }}" style="width: 60%;" alt=""/></td>
                              <td>{{ item.experience.title }}</td>
                              <td>
                                <!-- Quantity Update form -->
                                <form class="form form-update" method="post" action="{% url 'edit_exp' item.experience.id %}">
                                  {%csrf_token %}
                                  <div class="input-group d-flex justify-content-between">
                                    <button class="increment-qty btn btn-outline-dark rounded-0" data-item_id="{{ item.item_id  }}"
                                        id="increment-qty_{{ item.item_id  }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm quantity-icon"></i>
                                        </span>
                                    </button>
    
                                    <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10"
                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id  }}">
                                        
                                    <button class="decrement-qty btn btn-outline-dark rounded-0" data-item_id="{{ item.item_id  }}"
                                        id="decrement-qty_{{ item.item_id  }}">
                                        <span>
                                            <i class="fas fa-minus fa-sm quantity-icon"></i>
                                        </span>
                                    </button>
    
                                </div>
                            </div>
                                </form>
                                <a class="btn btn-warning update-link">Update</a>
                              </td>
                              <td>{{ item.experience.price }}</td>
                              <td>
                                <a class="btn btn-danger remove-link" id="remove_experience_{{ item.experience.id }}">Delete</a>
                              </td>
                          </tr>
                          {% endif %}

                          {% if item.tuition %}
                          <!-- Table data for tuition packages -->
                          <tr> 
                            <td class="basket-img"> <img src="{{ item.tuition.large_image.url }}" style="width: 60%;" alt=""/></td>
                              <td>{{ item.tuition.title }}</td>
                              <td>
                                <!-- Quantity Update form -->
                                <form class="form form-update" method="post" action="{% url 'edit_tuition' item.tuition.id %}">
                                  {%csrf_token %}
                                  <div class="input-group d-flex justify-content-between">
                                    <button class="increment-qty btn btn-outline-dark rounded-0" data-item_id="{{ item.item_id  }}"
                                        id="increment-qty_{{ item.item_id  }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm quantity-icon"></i>
                                        </span>
                                    </button>
    
                                    <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10"
                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id  }}">
                                        
                                    <button class="decrement-qty btn btn-outline-dark rounded-0" data-item_id="{{ item.item_id  }}"
                                        id="decrement-qty_{{ item.item_id  }}">
                                        <span>
                                            <i class="fas fa-minus fa-sm quantity-icon"></i>
                                        </span>
                                    </button>
    
                                </div>
                            </div>
                                </form>
                                <a class="btn btn-warning update-link">Update</a>
                              </td>
                              <td>{{ item.tuition.price }}</td>
                              <td>
                                <a class="btn btn-danger remove-link" id="remove_tuition_{{ item.tuition.id }}">Delete</a>
                              </td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                      </tr>
                  </table>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-end">
                <div class="d-flex mb-1" style="max-width: 300px">
                  
                </div>


              </div>
            </div>

            <!-- Horizontal Rule-->
            <hr class="my-4"/>

            {% else %}

            <i class="fas fa-shopping-basket mt-4 ms-3"></i><span><p class="mt-4 ms-2 d-inline-block"> Your Basket is currently empty.</p></span>
            {% endif %}
          </div>
        </div>

        <!-- Other pages card -->
        <div class="card mb-4">
          <div class="card-body">
            Continue Browsing:
            <a class="" href="{% url 'home' %}">
              <button class="btn btn-primary ms-2">Home</button>
            </a>
          </div>
        </div>
      </div>

      <!-- Summary side tab with total price information -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products
                <span>£{{ total }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>£X00</strong></span>
              </li>
            </ul>
            <div class="card-footer border-success d-flex">
              <div class="p-2 flex-grow-1 bd-highlight d-flex align-items-center">Price: £ X00</div>
              <div class="p-2 bd-highlight d-flex align-items-center">
                <a href="#">
                  <button class="btn btn-success">Go to Checkout</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'trackdays/includes/increment_decrement_script.html' %}

<script type="text/javascript">
  // Update quantity on click
  $('.update-link').click(function(e) {
        var form = $(this).prev('.form-update');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemType = $(this).attr('id').split('_')[1];
        var itemId = $(this).attr('id').split('_')[2];
        var url = `/checkout/basket/remove/${itemType}/${itemId}/`;
        var dataset = {'csrfmiddlewaretoken': csrfToken,};
        console.log("delete clicked")
        console.log(url)
        $.post(url, dataset)
         .done(function() {
             location.reload();
         });
    })





</script>


{% endblock %}