{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/main-nav.html' %}
<h2 class="text-center mt-4">Checkout:</h2>

<!-- The bulk of this code came from https://mdbootstrap.com/docs/standard/extended/credit-card/
This is also linked in the README.md docs as well -->

<!-- Credit card form -->
<section class="container-fluid">
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Billing details:</h5>
                </div>
                <div class="card-body">
                    <form>
                        <!-- 2 column layout with inputs for the First Name and Last Name -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <label class="form-label" for="fn-checkout">First name:</label>
                                    <input type="text" id="fn-checkout" class="form-control" required/>

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <label class="form-label" for="ln-checkout">Last name:</label>
                                    <input type="text" id="ln-checkout" class="form-control" required/>

                                </div>
                            </div>
                        </div>

                        <!-- Address 1 input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="ad1-checkout">Address 1:</label>
                            <input type="text" id="ad1-checkout" class="form-control" required/>
                        </div>
                        <!-- Address 2 optional input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="ad2-checkout">Address 2 (Optional):</label>
                            <input type="text" id="ad2-checkout" class="form-control"/>
                        </div>
                        <!-- Town or City input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="torc-checkout">Town/City:</label>
                            <input type="text" id="torc-checkout" class="form-control" required/>
                        </div>

                        <!-- County input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="county-checkout">County:</label>
                            <input type="text" id="county-checkout" class="form-control" required/>
                        </div>

                        <!-- Postcode input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="pc-checkout">Postcode:</label>
                            <input type="text" id="pc-checkout" class="form-control" required/>
                        </div>

                        <!-- Email Address input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form6Example5">Email:</label>
                            <input type="email" id="form6Example5" class="form-control" required/>

                        </div>

                        <!-- Phone Number input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form6Example6">Phone:</label>
                            <input type="number" id="form6Example6" class="form-control" required/>

                        </div>

                        <hr class="my-4" />

                        {% if user.is_authenticated %}
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="checkoutForm2" checked/>
                            <label class="form-check-label" for="checkoutForm2">
                                Save this information to your profile for next time
                            </label>
                        </div>
                        {% else %}
                        <div>
                            <p> Want to save this information for next time to speed up checkout?</p>
                            <p> Create an account to be able to do this: <span class="px-3"><a
                                        class="btn btn-success btn-sm" href="{% url 'account_signup' %}">Sign
                                        up</a></span></p>
                            <p> Otherwise, checkout as a Guest!</p>
                        </div>
                        {% endif %}

                        <hr class="my-4" />

                        <h5 class="mb-4">Payment:</h5>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm3"
                                checked/>
                            <label class="form-check-label" for="checkoutForm3">
                                Credit card
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm4"/>
                            <label class="form-check-label" for="checkoutForm4">
                                Debit card
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm5"/>
                            <label class="form-check-label" for="checkoutForm5">
                                Paypal
                            </label>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="formNameOnCard" class="form-control"/>
                                    <label class="form-label" for="formNameOnCard">Name on card</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="formCardNumber" class="form-control"/>
                                    <label class="form-label" for="formCardNumber">Credit card number</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-3">
                                <div class="form-outline">
                                    <input type="text" id="formExpiration" class="form-control"/>
                                    <label class="form-label" for="formExpiration">Expiry Date</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline">
                                    <input type="text" id="formCVV" class="form-control"/>
                                    <label class="form-label" for="formCVV">CVV</label>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                            Continue to checkout
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Items Total:
                            <span>£X00</span>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                            data-mdb-ripple-color="light">
                                            <img src="/media/circuit-indy-layout.png" class="w-100" alt=""/>

                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">

                                    </div>
                                    <!-- <div style="overflow-x:auto;" class="trackDayTable">
                                      <table class="table table-hover">
                                          <tr>
                                              <th>Order</th>
                                              <th>Order Number</th>
                                              <th>Date</th>
                                              <th>Price</th>
                                              <tr>
                                                  <td>Trackday</td>
                                                  <td>Order Number</td>
                                                  <td>Date</td>
                                                  <td>Price</td>
                                                 
                                              </tr>
                                          </tr>
                                      </table>
                                  </div> -->
                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-end">
                                        <div class="d-flex mb-1" style="max-width: 300px">
                                        </div>

                                        <p>
                                            £X00
                                        </p>

                                    </div>
                                </div>

                                <!-- Horizontal Rule-->
                                <hr class="my-4" />
                        </li>

                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total amount</strong>
                                <strong>
                                    <p class="mb-0">(including VAT)</p>
                                </strong>
                            </div>
                            <span><strong>£{{ grand_total|floatformat:2 }}</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Credit card form -->


{% endblock %}