/* Paragraph layout/format */
.para {
    text-align: justify;
    width: 80%;
    margin: auto;
}
/* Experiences */
.experiences{
    width: 85%;
    margin: 20px auto;
}

.experiences span{
    font-weight: bold;
}

.image{
    width: 100%;
}

.image img{
    width: 100%;
    height: 100%;
}

.imgbutton {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

/* Explore Buttons */
.explore-btn {
    background-color: orange;
    color: black;
    text-decoration: none;
}

.explore-btn:hover,
.explore-btn:focus {
    color: orange;
    background-color: black;
    cursor: pointer;
}

/* Screen widths up to 780px */
@media all and (max-width:780px) {

    .explore-btn {
        max-width: 80px;
        max-height: 40px;
        font-size: x-small;
    }

}