@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Secular One', sans-serif;
}


.circles {
    visibility: hidden;
    height: 0;
}

.red-circle {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid #000;
}

.yellow-circle {
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid #000;
}

.booking-btn {
    border: 2px solid black;
    background-color: green;
    color: #fff;
    height: 25px;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
}

.booking-btn:hover {
    background-color: #fff;
    color: green;
}

.booking-btn:active {
    transform: scale(0.98);
}

.track-zar {
    max-width: 98%;
}


/* Middle Nav Styling */
.middle-nav {
    border: 2px solid #000;
    border-right: none;
    border-left: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.middle-nav div {
    padding: 5px;
}

.middle-nav div a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.middle-nav ul li a:visited {
    color: #000;
}

.middle-nav a:hover {
    text-decoration: underline;
}



/**********Gallery Styling***********/
.gallery h1 {
    text-align: center;
}

.gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-img {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.6s;
    margin: 10px;
    max-width: 100%;
    width: 300px;
    max-height: 170px;
}

.gallery-img:hover {
    opacity: 0.7;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 1;
}

#caption {
    display: block;
    width: 80%;
    max-width: 700px;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}



.modal-container {
    position: relative;
    display: flex;
    height: 100%;
    max-height: 500px;
}

.modalImg {
    max-width: 100%;
    width: 700px;
    margin: auto;
    display: block;
    max-height: 500px;
    border-radius: 10px;
}


.btn {
    position: absolute;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px;
}

.btn:hover,
.btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;

}

.btn.prev {
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.btn.next {
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

.btn.close {
    top: 15px;
    right: 50%;
    transform: translateX(50%);
}


/* Add Animation */
.modalImg,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}





/* Toast Styling */
.message-container {
    position: fixed;
    top: 72px;
    right: 50px;
    z-index: 999999999999;
}

/* Toast Styling End */


/* Footer Styling */
footer {
    border-top: 2px solid #000;
    color: #000;
    margin: 10px;
}

footer a {
    
    color: #000;
    text-decoration: none;
}

footer a:visited,
footer a:hover {
    color: #000;
}

footer .footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpDiv{
    display: flex;
    justify-content: space-evenly;
}

.signUpBtn {
    background-color: orange;
    border: 2px solid #000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
}

.toTopBtn {
    height: 25px;
    width: 25px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

.toTopBtn:hover, .toTopBtn:active , .toTopBtn:visited{
    color: #fff;
}

/*Footer Styling End*/


/*Styling for the Tablet Screens */
@media (min-width: 700px) and (max-width: 950px){

    .middle-nav {
        max-width: 100%;
    }

    .middle-nav ul {
        display: flex;
        margin: auto;
    }

    .middle-nav ul li {
        margin: auto;
    }

    .circles {
        visibility: visible;
        height: auto;
    }

    footer .footer-links {
        flex-direction: row;
    }

    footer .footer-links a{
        margin: auto;
    }

    .signUpDiv{
        justify-content: end;
    }

    .signUpDiv span{
        font-size: 18px;
        margin: auto;
    }
}

/*Styling for the laptop Screens */
@media (min-width: 950px) {
    .circles {
        visibility: visible;
        height: auto;
    }

    .middle-nav{
        width: 100%;
    }

    .middle-nav ul {
        display: flex;
        margin: auto;
    }

    .middle-nav ul li {
        margin: auto;
    }

    .img-height-zar {
        height: 645px;
    }

    .gallery h1 {
        justify-content: start;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }

    footer .footer-links {
        flex-direction: row;
        margin-right: auto;
        margin-left: 50px;
    }

    footer .footer-links a{
        margin: 0 10px;
    }

    .signUpDiv{
        width: 100%;
        justify-content: space-between;
    }

    .signUpDiv span{
        margin: auto;
        margin-top: 5px ;
    }

}

