<div class="row middle-nav">
  <div class="text-center col-sm-6 col-md-4 col-lg-2">
    <a href="{% url 'trackdays' %}">Booking</a>
  </div>
  <div class="text-center col-sm-6 col-md-4 col-lg-2">
    <a href="#">Cars for Hire</a>
  </div>
  <div class="text-center col-sm-6 col-md-4 col-lg-2">
    <a href="{% url 'tuition' %}">Tuition</a>
  </div>
  <div class="text-center col-sm-6 col-md-4 col-lg-2">
    <a href="{% url 'experiences' %}">Experiences</a>
  </div>
  <div class="text-center col-sm-6 col-md-4 col-lg-2">
    <a href="{% url 'contact' %}">Contact</a>
  </div>
  <div class="text-center col-sm-6 col-md-4 col-lg-2">
    <a href="{% url 'about' %}">About</a>
  </div>
</div>
