<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link mx-5" href="{% url 'trackdays' %}">Booking</a>
          <a class="nav-link mx-5" href="#">Cars for Hire</a>
          <a class="nav-link mx-5" href="{% url 'tuition' %}">Tuition</a>
          <a class="nav-link mx-5" href="{% url 'experiences' %}">Experiences</a>
          <a class="nav-link mx-5" href="{% url 'contact' %}">Contact</a>
          <a class="nav-link mx-5" href="{% url 'about' %}">About</a>
        </div>
      </div>
    </div>
  </nav>