{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/main-nav.html' %}
<h2 class="text-center mt-4">Thank you for your Order!:</h2>
<div class="containerd-flex justify-content-centermin-vh-100">
  <div class="row text-center">
    <div class="col">
      <p>
        Your order is complete! Thank you for your business! If you have any questions, please contact us via the
        contact page:
        <a href="{% url 'contact' %}">Contact</a>.
      </p>
      <p> Your receipt will be emailed to you shortly, and you can view your order history here:
        <a href="{% url 'history' %}">Order History</a></p>
    </div>
  </div>
</div>

{% endblock %}