{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container min-vh-100">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6 col-sm-offset-3 text-center mt-5">
  
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
      </div>
      </div>
      </div>
{% endblock %}
