{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container min-vh-100">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6 col-sm-offset-3 text-center mt-5 card">
  

    <h1 class="mt-1">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset card-body">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-warning" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

      </div>
    </div>
</div>
{% endblock %}
