{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container min-vh-100">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6 col-sm-offset-3 text-center mt-5 card">
  
    <h1>{% trans "Change Password" %}</h1>

    <form class="card-body" method="POST" action="{% url 'account_change_password' %}" class="password_change card-body">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-warning" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
      </div>
    </div>
</div>
{% endblock %}
