{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trackdays/css/experiences.css' %}">
{% endblock %}

{% block content %}

<h2 class="m-3 text-center">Experiences:</h2>

<p class="para">
  We have 4 bespoke packages to offer to customers who would like to have a closed circuit experience with a specific driving theme. The packages feature a unique set of cars
  tailored to your interests. Many cars here cannot be hired for track days outside of these packages, so it is a unique opportunity to feel the thrill of these amazing machines!
</p>

{% for experience in experiences %}
<div class="container">
    <div class="experiences row">
        <span>{{ experience.title }}</span>
        {% if experience.image %}
        <div class="image col">
            <img src="{{ experience.image.url }}" alt="" accept="image/*">
        </div>
        {% endif %}
        <div class="imgbutton">
            <a class="btn explore-btn col" href="{% url 'exp_detail' experience.pk %}" role="button">Explore</a>
        </div>
    </div>
</div>
{% endfor %}





{% endblock %}