{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trackdays/css/trackday-request.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}

<h2 class="mt-3 text-center">Request a Trackday</h2>
<!-- Track day request form -->
{% block form %}


<form class="requestForm" method="post" action="{% url 'request' %}">
  {% csrf_token %}
  <div class="formRow">
    <label for="organiser">Organiser</label>
    <input type="text" id="organiser" name="organiser" required>
  </div>

  <div class="formRow">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>

  <div class="formRow">
    <label for="tel">Phone (Optional)</label>
    <input type="tel" id="tel" name="tel" pattern="[0-9]{5} [0-9]{3} [0-9]{3}" placeholder="00000 111 111">
  </div>


  <div class="formRow">
    <label for="date">Date Request</label>
    <input type="date" id="date" name="date" required>
  </div>

  <div class="formRow">
    <label for="num_spaces">Number of spaces</label>
    <input type="number" value="0" min="5" max="50" id="num_spaces" name="num_spaces" required>
  </div>

  <div class="formRow">
    <label for="hosp_req">Hospitality packs required?</label>
    <select id="hosp_req" name="hosp_req">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>

  <div class="formRow">
    <label for="pitlanes">Pitlanes required?</label>
    <select id="pitlanes" name="pitlanes">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>

  <div class="formRow">
    <label for="db_limit">Db limit</label>
    <select id="db_limit" name="db_limit">
      <option value="0">98db</option>
      <option value="1">105bd</option>
    </select>
  </div>

  <div class="formRow">
    <label for="fullorhalf">Full or half day?</label>
    <select id="fullorhalf" name="fullorhalf">
      <option value="0">Half-Day</option>
      <option value="1">Full-Day</option>
    </select>
  </div>

  <div class="formRow">
    <label for="carhire">Car hire required?</label>
    <select id="carhire" name="carhire">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>

  <button type="submit" class="submitBtn mt-3">Submit request</button>
</form>

{% endblock form %}
{% endblock %}

{% block postloadjs%}

<script type="text/javascript">
  // Script inspired by and modified from an example CHATGPT generated response to setting parameters for date validation on a form.
  const today = new Date();
  const input = document.getElementById("date");

  input.addEventListener("change", function () {
    const dateEntered = new Date(input.value);

    if (dateEntered < today) {
      alert("Sorry, the date requested can be no sooner than today");
      input.value = "";
    }
  });
</script>


{% endblock %}