{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trackdays/css/trackdays.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/main-nav.html' %}
<h2 class="m-3 text-center">Track Days</h2>
<!-- Images of the 3 different Track Day Layouts -->
<p class="m-3 text-center">Book by Configurations:</p>

<div class="configuration">
    <div class="content">
        <img src="/media/circuit-gp-layout.png" alt="GP International Circuit Layout map">
        <span class="contentCaption">GP International</span>
    </div>

    <div class="content">
        <img src="/media/circuit-national-layout.png" alt="National Circuit Layout map">
        <span class="contentCaption">National</span>
    </div>

    <div class="content">
        <img src="/media/circuit-indy-layout.png" alt="Indy Circuit Layout map">
        <span class="contentCaption">Indy</span>
    </div>
</div>

<h3 class="text-center mt-5 fs-2 mb-4">Upcoming Trackdays</h3>
<!-- Trackday table/list -->
<div style="overflow-x:auto;" class="trackDayTable">
    <table class="table table-hover">
        <tr>
            <!-- Table Headers -->
            <th>Date</th>
            <th>Layout</th>
            <th>Db limit</th>
            <th>Availability</th>
            <th>Price*</th>
            <th></th>
            {% for trackday in trackdays%}
            <tr>
                <td>{{ trackday.date }}</td>
                <td>{{ trackday.get_layout_display }}</td>
                <td>{{ trackday.get_db_limit_display }}</td>
                <td>{{ trackday.availability }}</td>
                <td class="remain"><span>£{{ trackday.base_trackday_price }}</span></td>
                <!-- Link to booking page -->
                {% if user.is_authenticated %}
                    {% if 'trackday' in basket_contents %}
                    <td><button class="book-btn">You can only book 1 at a time.</button></td>
                    {% else %}
                     <td><a href="{% url 'booking' trackday.id %}"><button class="book-btn">Book</button></a></td>
                    {% endif %}
                {% else %}
                <td><a href="{% url 'account_login' %}"><button class="book-btn">Log in to Book</button></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tr>

        <!-- <tr>
            <td>23/01/23</td>
            <td>GP</td>
            <td>105db</td>
            <td>0/30</td>
            <td class="full"><span>Full</span></td>
            <td><button class="book-btn">Book</button></td>
        </tr>
        <tr>
            <td>27/01/23</td>
            <td>Indy</td>
            <td>98db</td>
            <td>10/15</td>
            <td class="remain"><span>$300</span></td>
            <td><button class="book-btn">Book</button></td>
        </tr> -->

    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-end">*prices before any options added to booking</p>
        </div>
    </div>
</div>
<!-- Button links to Track Day Request Form Page -->
<div class="requestTrack mt-4">
    <span>Want to organise your own Trackday? Click Here</span>
    <a href="{% url 'request' %}">Request a Track day</a>
</div>


</body>

</html>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'trackdays/js/trackdays.js' %}"></script>
{% endblock %}