{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trackdays/css/booking-detail.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<div class="heading">
    <a class="backBtn mt-4" href="{% url 'trackdays' %}" >Back to Track Days</a>
    <h2 class="text-center mt-4">Track Day Detail:</h2>

  </div>


<!-- Track day Information Card-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card mb-3">
                <img src="{{ trackday.layout_image.url }}" class="card-img-top"
                    alt="{{ trackday.get_layout_display}} Circuit Map">
                <div class="card-body mx-auto">
                    <h5 class="card-title">{{ trackday.get_layout_display }} Circuit - {{ trackday.date }}</h5>
                    <p class="card-text">{{ trackday.get_db_limit_display }} noise limit</p>
                    <p class="card-text">Base Price: £{{ trackday.base_trackday_price }}</p>
                    <p class="card-text">Currently there are {{ trackday.availability }} spaces left</p>
                </div>
            </div>
        </div>

        <div class="container-fluid mb-2">
            <div class="row">
                <div class="col-lg-8 mx-auto card">
                    <h6 class="text-center"> Select any additional items you wish to add on to your track day below:
                    </h6>

                    <!-- Track Day Booking Form will go here-->

                    <form class="requestForm" method="POST" action="{% url 'add_td_to_basket' trackday.id %}">
                        {% csrf_token %}
                        <div class="formRow">
                            <label for="" class="label">Full or Half Day:</label>

                            <div class="choice">
                                <label for="halfDay" class="me-3 text-center">
                                    <input value="0" type="radio" name="fullHalfDay" id="halfDay"/>
                                    Half Day - £{% widthratio trackday.base_trackday_price 2 1 %}
                                </label>

                                <label for="fullDay" class="text-center">
                                    <input value="1" type="radio" name="fullHalfDay" id="fullDay" checked/>
                                    Full Day - £{{ trackday.base_trackday_price }}
                                </label>
                            </div>
                        </div>

                        <div class="formRow">
                            <label for="paddockhire" class="label">Paddock Hire:</label>

                            <div class="choice">
                                <label for="pitlane" class="me-3 text-center">
                                    <input value="50" type="radio" name="paddockhire" id="pitlane"/>
                                    Pitlane Paddock - £50
                                </label>

                                <label for="standard" class="text-center">
                                    <input value="0" type="radio" name="paddockhire" id="standard" checked/>
                                    Standard Paddock - £0
                                </label>
                            </div>
                        </div>

                        <div class="formRow">
                            <label for="carhire" class="label">Car Hire:</label>

                            <div class="choice">
                                <select name="carhire" id="carhire" class="border-2 border-dark me-5">
                                    {% for car in cars %}
                                    <option value="{{ car.id }}">{{ car.make }} {{ car.model }}
                                        {% if car.variant %}{{ car.variant }} {% endif %} - £{{ car.cost_to_hire }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <label id="byoc" for="" class="text-center pt-3">- Or select "None" to bring your own car!</label>
                            </div>
                        </div>

                        <div class="formRow">
                            <label for="" class="label">Additional Drivers:</label>

                            <div class="choice">
                                <input class="px-2 add" type="button" onclick="incrementDriverValue()" value="+">
                                <input class="border-2 border-dark" type="number" name="driver-number" value=0 id="driver-number" min="0" max="4"/>
                                <input class="px-2 minus" type="button" onclick="decrementDriverValue()" value="-">
                                <label for="driver-number" class="text-center ms-3">- £10 per person (Up to 4 max)</label>
                            </div>
                        </div>

                        <div class="formRow">
                            <label for="" class="label">Helmet Hire:</label>

                            <div class="choice">
                                <input class="px-2 add" type="button" onclick="incrementHelmetValue()" value="+">
                                <input class="border-2 border-dark" type="number" name="helmet-number" value=0 id="helmet-number" min="0" max="4"/>
                                <input class="px-2 minus"type="button" onclick="decrementHelmetValue()" value="-">
                                <label for="helmet-number" class="text-center ms-3">- £10 per person (Up to 4 max)</label>
                            </div>
                        </div>

                        <div class="formRow">
                            <label for="" class="label">Tuition:</label>

                            <div class="choice">
                                <input class="px-2 add" type="button" onclick="incrementTuitionValue()" value="+">
                                <input class="border-2 border-dark" type="number" name="tuition-number" value=0 id="tuition-number" min="0" max="4"/>
                                <input class="px-2 minus" type="button" onclick="decrementTuitionValue()" value="-">
                                <label class="ms-3" for="tuition-number">- £25 per person (Up to 4 max)</label>
                            </div>
                        </div>

                        <div class="btns">
                            <button type="submit" class="addToBasketBtn">Add to Basket</button>
                            <!-- <button class="checkoutBtn">Checkout</button> -->
                        </div>
                    </form>

                    <div class="container-fluid mb-2">
                        <div class="row d-flex justify-content-end">
                            <div class="col-4 col-lg-3 card border-success">
                                <div class="card-body">
                                  <h6>Total: <span id="total-price" class="fs-4">{{ trackday.base_trackday_price }}</span></h6>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- On submit, the order is stored in the users basket until they are ready to checkout-->
                </div>

            </div>
        </div>


    {% endblock %}

{% block postloadjs %}

<script type="text/javascript">
function incrementDriverValue()
{
    // Incrementing the Driver Number input
    let i = parseInt(document.getElementById('driver-number').value, 4);
    i = isNaN(i) ? 0 : i;
    i++;
    document.getElementById('driver-number').value = i;

}
function incrementHelmetValue()
{
    // Incrementing the Helmet Number input
    let j = parseInt(document.getElementById('helmet-number').value, 4);
    j = isNaN(j) ? 0 : j;
    j++;
    document.getElementById('helmet-number').value = j;
}

function incrementTuitionValue()
{
    // Incrementing the Tuition Number input
    let j = parseInt(document.getElementById('tuition-number').value, 4);
    j = isNaN(j) ? 0 : j;
    j++;
    document.getElementById('tuition-number').value = j;
}

function decrementDriverValue()
{
    // Decrementing the Driver Number input
    let i = parseInt(document.getElementById('driver-number').value, 4);
    i = isNaN(i) ? 4 : i;
    if (i > 0) {
    i--;
    }
    document.getElementById('driver-number').value = i;

}

function decrementHelmetValue()
{
    //Decrementing the Helmet Number input
    let j = parseInt(document.getElementById('helmet-number').value, 4);
    j = isNaN(j) ? 4 : j;
    if (j > 0) {
    j--;
    }
    document.getElementById('helmet-number').value = j;
}
function decrementTuitionValue()
{
    //Decrementing the Tuition Number input
    let j = parseInt(document.getElementById('tuition-number').value, 4);
    j = isNaN(j) ? 4 : j;
    if (j > 0) {
    j--;
    }
    document.getElementById('tuition-number').value = j;
}
</script>

{% endblock %}