{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trackdays/css/tuition.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<!-- Tuition Intro -->
<h2 class="m-3 text-center">Tuition:</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <p class="m-3 para mt-4">
        Django Raceway now offers 3 different tuition packages to enhance your driving abilites, which you can take to
        the
        track to improve your car control and laptimes.
      </p>
    </div>
  </div>
</div>

{% for item in tuition %}
<!-- Tuition items list -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 images">
      <!-- Tuition Level-->
      <h4>{{ item.get_level_display }}</h4>
      <!-- Both Tuition Images-->
        <img class="image img-small" src="{{ item.small_image.url }}" alt="{{ item.get_level_display }} Trophy">
        <img class="image img-large" src="{{ item.large_image.url }}" alt="A racing driver about to get in to his car">
        <div class="imgbutton">
          <!-- Button link to details page -->
          <a class="btn explore-btn col" href="{% url 'tuition_detail' item.id %}" role="button">Explore</a>
        </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}