{% extends "base.html" %}
{% load static %}


{% block content %}
{% include 'includes/main-nav.html' %}
<h2 class="text-center mt-4">Tuition Detail:</h2>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card mb-3">
                <img class="card-img-top" src="{{ tuition.large_image.url }}" alt="" accept="image/*">
                <div class="card-body mx-auto">
                    <p>{{ tuition.title}}</p>
                    <p>{{ tuition.description | safe }}</p>
                    <p>{{ tuition.itinerary | safe}}</p>
                </div>
                <div class="card-footer border-success d-flex">
                    <div class="p-2 flex-grow-1 bd-highlight d-flex align-items-center">Price: £{{ tuition.price }}</div>
                    <div class="p-2 bd-highlight">
                        <a id="book" class="btn btn-success btn-sm" href="#">
                            Book the {{ tuition.title }}
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock %}