<div aria-live="polite" aria-atomic="true" class="position-relative">
    
    <div class="toast-container position-absolute top-0 end-0 p-3">
  
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning text-dark">
            <i class="fas fa-exclamation-triangle"></i>
          <strong class="me-auto">Warning!</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
      </div>